name: Preview
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16.14.0
          registry-url: https://registry.npmjs.org/
      - name: Configure committer
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - name: Build
        run: |
          yarn install
          yarn preview
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          TOKEN: ${{ secrets.HUOGUI_TOKEN }}
          BRANCH: main
          FOLDER: playground/dist